USE [master]
GO
/****** Object:  Database [library_managment]    Script Date: 2/21/2026 1:30:03 PM ******/
CREATE DATABASE [library_managment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'library_managment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\library_managment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'library_managment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\library_managment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [library_managment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [library_managment]
GO
/****** Object:  UserDefinedFunction [dbo].[password_create]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[password_create] (@id INT)
RETURNS VARCHAR(20)
AS
BEGIN	
    DECLARE @password VARCHAR(20);
    SELECT @password = LEFT(staff_fname, 2) + LEFT(staff_lname, 2) + CAST(DAY(date_of_birth) AS VARCHAR(10))
    FROM staff
    WHERE staff_id = @id;
    RETURN @password;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[username_create]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[username_create] (@id INT)
RETURNS VARCHAR(20)
AS
BEGIN
    DECLARE @num INT = 1;
    DECLARE @username VARCHAR(20);
    SELECT @username = left(staff_fname,1) + staff_lname + CAST(@num AS VARCHAR(10))
    FROM staff
    WHERE staff_id = @id;

    WHILE EXISTS (SELECT * FROM login_table WHERE username = @username)
    BEGIN
        SET @username = LEFT(@username, LEN(@username) - 1);
        SET @num += 1;
        SET @username += CAST(@num AS VARCHAR(10));
    END;

    RETURN @username;
END;
GO
/****** Object:  Table [dbo].[book]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[book_name] [varchar](100) NULL,
	[author] [varchar](50) NULL,
	[publication] [date] NULL,
	[purchase_date] [date] NULL,
	[price] [money] NULL,
	[available] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[issued_books]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[issued_books](
	[id] [int] IDENTITY(1001,1) NOT NULL,
	[book_id] [int] NULL,
	[student_id] [int] NULL,
	[issued_date] [date] NULL,
	[due_date] [date] NULL,
	[returned] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[action_type] [varchar](50) NULL,
	[table_name] [varchar](50) NULL,
	[row_id] [int] NULL,
	[staff_id] [int] NULL,
	[old_value] [varchar](max) NULL,
	[new_value] [varchar](max) NULL,
	[action_timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login_table]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_table](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NOT NULL,
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[currently_login] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[returned_books]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[returned_books](
	[id] [int] IDENTITY(1001,1) NOT NULL,
	[book_id] [int] NULL,
	[student_id] [int] NULL,
	[returned_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_fname] [varchar](50) NULL,
	[staff_lname] [varchar](50) NULL,
	[staff_email] [varchar](100) NULL,
	[salary] [money] NULL,
	[date_of_birth] [date] NULL,
	[admin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[student_id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[department] [varchar](100) NULL,
	[phone_number] [varchar](50) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[log] ADD  DEFAULT (getdate()) FOR [action_timestamp]
GO
ALTER TABLE [dbo].[login_table] ADD  DEFAULT ((0)) FOR [currently_login]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT ((0)) FOR [admin]
GO
ALTER TABLE [dbo].[issued_books]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([book_id])
GO
ALTER TABLE [dbo].[issued_books]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[student] ([student_id])
GO
ALTER TABLE [dbo].[login_table]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[returned_books]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([book_id])
GO
ALTER TABLE [dbo].[returned_books]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[student] ([student_id])
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD CHECK  (([staff_email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD CHECK  (([email] like '%_@__%.__%'))
GO
/****** Object:  StoredProcedure [dbo].[add_book]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Add books
CREATE PROCEDURE [dbo].[add_book] 
    @book_name VARCHAR(100), 
    @author VARCHAR(50), 
    @publication DATE, 
    @purchase_date DATE, 
    @price MONEY, 
    @quantity INT
AS
BEGIN
    WHILE (@quantity > 0)
    BEGIN
        SET @quantity -= 1;
        INSERT INTO book (book_name, author, publication, purchase_date, price, available) 
        VALUES (@book_name, @author, @publication, @purchase_date, @price, 1);
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[add_staff]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_staff] @fname varchar(50), @lname varchar(50), @email varchar(100), @salary money, @date_of_birth date, @admin bit
as
begin
	insert into staff(staff_fname,staff_lname,staff_email,salary,date_of_birth,admin) values
	(@fname,@lname,@email,@salary,@date_of_birth,@admin)
end
GO
/****** Object:  StoredProcedure [dbo].[add_student]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[add_student] 
    @student_id INT, 
    @student_name VARCHAR(100), 
    @department VARCHAR(50), 
    @phone_number VARCHAR(50), 
    @email VARCHAR(100)
AS
BEGIN
    IF @email NOT LIKE '%_@__%.__%'
    BEGIN
		THROW 50002, 'The email format is not correct.', 1;
    END
    IF @phone_number LIKE '[0-9][0-9][0-9]-[0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'
    BEGIN
        INSERT INTO student VALUES
        (@student_id, @student_name, @department, @phone_number, @email);
    END
    ELSE 
    BEGIN
        THROW 50001, 'The phone number is not in the right format. Should be 123-456-789', 0;
    END;
END
GO
/****** Object:  StoredProcedure [dbo].[change_password]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[change_password] @staff_id int, @password varchar(20)
as
begin
	update login_table
	set password = @password
	where staff_id = @staff_id
end
GO
/****** Object:  StoredProcedure [dbo].[check_user]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[check_user] 
    @username VARCHAR(20), 
    @password VARCHAR(20)
AS 
BEGIN
    IF EXISTS (SELECT * FROM login_table WHERE username = @username COLLATE Latin1_General_BIN  AND password = @password COLLATE Latin1_General_BIN)
	begin
		update login_table
		set currently_login = 1
		where username = @username
        RETURN 1;
	end
    ELSE 
        RETURN 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[currently_logged_staff_id]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- return the staff that is currently logged in
CREATE PROCEDURE [dbo].[currently_logged_staff_id]
as
begin 
	return (select top 1 staff_id from login_table where currently_login = 1)
end
GO
/****** Object:  StoredProcedure [dbo].[delete_book]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Delete books
CREATE PROCEDURE [dbo].[delete_book] 
    @book_id INT
AS 
BEGIN
    DELETE FROM book
    WHERE book_id = @book_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[delete_student]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[delete_student]
    @student_id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if the student has any unreturned books
    IF EXISTS (
        SELECT 1
        FROM issued_books
        WHERE student_id = @student_id
          AND returned = 0
    )
    BEGIN
        -- Raise an error if the student hasn't returned all books
        THROW 50000, 'Student cannot be deleted, student has unreturned books.', 1;
    END
    ELSE
    BEGIN
        -- Delete issued book records (if any)
        DELETE FROM issued_books
        WHERE student_id = @student_id;

		DELETE FROM returned_books
        WHERE student_id = @student_id;
        -- Delete the student
        DELETE FROM student
        WHERE student_id = @student_id;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[display_book_table]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Display book table
CREATE PROCEDURE [dbo].[display_book_table] 
    @book_id INT
AS 
BEGIN
    IF (@book_id > 0)
    BEGIN
        SELECT * FROM book
        WHERE book_id = @book_id;
    END
    ELSE 
    BEGIN
        SELECT * FROM book;
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[display_issued_book]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Display Issued books
CREATE PROCEDURE [dbo].[display_issued_book]
AS
BEGIN
    SELECT * FROM issued_books;
END
GO
/****** Object:  StoredProcedure [dbo].[display_staff]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[display_staff] @id int
as
begin
	if(@id > 0)
	begin
			select * from staff
			where staff_id = @id
	end
	else select * from staff
end
GO
/****** Object:  StoredProcedure [dbo].[display_student_table]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Display student table
CREATE PROCEDURE [dbo].[display_student_table] @student_id INT
AS
BEGIN
    IF (@student_id > 0)
    BEGIN
        SELECT * FROM student
        WHERE student_id = @student_id;
    END
    ELSE 
    BEGIN
        SELECT * FROM student;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[issue_book]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[issue_book] @student_id INT, @book_id INT, @issue_date DATE, @due_date DATE
AS 
BEGIN 
    IF EXISTS (SELECT * FROM book WHERE book_id = @book_id AND available = 1)
    BEGIN
        INSERT INTO issued_books(book_id, student_id, issued_date, due_date, returned) 
        VALUES (@book_id, @student_id, @issue_date, @due_date, 0);
        
        UPDATE book 
        SET available = 0
        WHERE book_id = @book_id;
    END
    ELSE 
    BEGIN
        THROW 50001, 'Book has already been issued or it does not exist', 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[log_out]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[log_out]
as
begin
	update login_table
	set currently_login = 0
end
GO
/****** Object:  StoredProcedure [dbo].[remove_staff]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[remove_staff] @id int
as
begin
	delete login_table
	where staff_id = @id
	delete staff
	where staff_id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[return_book]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedure to add returned book to the table
CREATE PROCEDURE [dbo].[return_book] @student_id INT, @book_id INT, @return_date DATE
AS 
BEGIN
    IF EXISTS (SELECT * FROM issued_books WHERE book_id = @book_id AND student_id = @student_id AND returned = 0)
    BEGIN
        INSERT INTO returned_books(book_id, student_id, returned_date) 
        VALUES (@book_id, @student_id, @return_date);
    END
    ELSE 
    BEGIN
        THROW 50001, 'The book has not been issued or the student returning is not the correct student', 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[returned_book_table]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedure to display returned books
CREATE PROCEDURE [dbo].[returned_book_table]
AS
BEGIN
    SELECT * FROM returned_books;
END
GO
/****** Object:  StoredProcedure [dbo].[search_book]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Search books
CREATE PROCEDURE [dbo].[search_book] 
    @book_id INT
AS 
BEGIN 
    SELECT book_name, author, publication, purchase_date, price
    FROM book
    WHERE book_id = @book_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[search_staff]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[search_staff] @id int
as
begin
	select s.staff_id,s.staff_fname ,s.staff_lname,s.staff_email,s.salary,s.date_of_birth,s.admin,l.username , l.password
	FROM staff s
	INNER JOIN login_table l ON s.staff_id = l.staff_id
	where s.staff_id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[search_student]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Search student
CREATE PROCEDURE [dbo].[search_student] @student_id INT
AS 
BEGIN
    SELECT student_id, name, department, phone_number, email
    FROM student
    WHERE student_id = @student_id;
END
GO
/****** Object:  StoredProcedure [dbo].[SeedDefaultStaff]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SeedDefaultStaff]
AS
BEGIN
    SET NOCOUNT ON;
    -- Check if there are no staff
    IF NOT EXISTS (SELECT 1 FROM Staff)
    BEGIN
        -- Insert default staff
        INSERT INTO staff (staff_fname,staff_lname,staff_email,salary,date_of_birth,admin)
        VALUES ('Alex','Hunter','alexhunter@gmail.com',90000,'02/21/2000',1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[update_book]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update books
CREATE PROCEDURE [dbo].[update_book] 
    @book_id INT, 
    @book_name VARCHAR(100), 
    @author VARCHAR(50), 
    @publication DATE, 
    @purchase_date DATE, 
    @price MONEY
AS
BEGIN
    UPDATE book 
    SET book_name = @book_name, 
        author = @author, 
        publication = @publication, 
        purchase_date = @purchase_date, 
        price = @price
    WHERE book_id = @book_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[update_staff]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_staff] @id int, @fname varchar(50), @lname varchar(50), @email varchar(100), @salary money, @date_of_birth date, @admin bit
as
begin
	update staff
	set staff_fname = @fname, staff_lname = @lname, staff_email = @email, salary = @salary, date_of_birth = @date_of_birth, admin = @admin
	where staff_id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[update_student]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update student
CREATE PROCEDURE [dbo].[update_student] 
    @student_id INT, 
    @student_name VARCHAR(50), 
    @department VARCHAR(100), 
    @phone_number VARCHAR(50), 
    @email VARCHAR(100)
AS 
BEGIN    
	IF @email NOT LIKE '%_@__%.__%'
    BEGIN
		THROW 50002, 'The email format is not correct.', 1;
    END
	IF @phone_number NOT LIKE '09[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' AND
       @phone_number  NOT LIKE '07[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'
    BEGIN
		THROW 50002, 'The phone number is not in the right format. Should be 0912345678 or 0712345678', 0;
	end
    UPDATE student
    SET name = @student_name, 
        department = @department, 
        phone_number = @phone_number, 
        email = @email
    WHERE student_id = @student_id;
END
GO
/****** Object:  Trigger [dbo].[trigger_LogBookChanges]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- trigger for book table log
CREATE TRIGGER [dbo].[trigger_LogBookChanges]
ON [dbo].[book]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    DECLARE @action_type VARCHAR(50);
    DECLARE @staff_id INT = (SELECT TOP 1 staff_id FROM login_table WHERE currently_login = 1);
    DECLARE @row_id INT;
    DECLARE @old_value VARCHAR(MAX) = '';
    DECLARE @new_value VARCHAR(MAX) = '';

    IF EXISTS (SELECT * FROM inserted)
    BEGIN
        IF EXISTS (SELECT * FROM deleted)
        BEGIN
            SET @action_type = 'UPDATE';
			SELECT 
				@old_value = 
					CASE WHEN d.book_id <> i.book_id THEN 'book_id: ' + CAST(d.book_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.book_name <> i.book_name THEN 'book_name: ' + d.book_name + ', ' ELSE '' END +
					CASE WHEN d.author <> i.author THEN 'author: ' + d.author + ', ' ELSE '' END +
					CASE WHEN d.publication <> i.publication THEN 'publication: ' + CAST(d.publication AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.purchase_date <> i.purchase_date THEN 'purchase_date: ' + CAST(d.purchase_date AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.price <> i.price THEN 'price: ' + CAST(d.price AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.available <> i.available THEN 'available: ' + CAST(d.available AS VARCHAR) + ', ' ELSE '' END,
    
				@new_value = 
					CASE WHEN d.book_id <> i.book_id THEN 'book_id: ' + CAST(i.book_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.book_name <> i.book_name THEN 'book_name: ' + i.book_name + ', ' ELSE '' END +
					CASE WHEN d.author <> i.author THEN 'author: ' + i.author + ', ' ELSE '' END +
					CASE WHEN d.publication <> i.publication THEN 'publication: ' + CAST(i.publication AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.purchase_date <> i.purchase_date THEN 'purchase_date: ' + CAST(i.purchase_date AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.price <> i.price THEN 'price: ' + CAST(i.price AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.available <> i.available THEN 'available: ' + CAST(i.available AS VARCHAR) + ', ' ELSE '' END
			FROM deleted d
			INNER JOIN inserted i ON d.book_id = i.book_id;
        END
        ELSE
        BEGIN
            SET @action_type = 'INSERT';
            SELECT @new_value = 'book_id: ' + CAST(book_id AS VARCHAR) + ', ' +
                                'book_name: ' + book_name + ', ' +
                                'author: ' + author + ', ' +
                                'publication: ' + CAST(publication AS VARCHAR) + ', ' +
                                'purchase_date: ' + CAST(purchase_date AS VARCHAR) + ', ' +
                                'price: ' + CAST(price AS VARCHAR) + ', ' +
                                'available: ' + CAST(available AS VARCHAR)
            FROM inserted;
        END
    END
    ELSE
    BEGIN
        SET @action_type = 'DELETE';
        SELECT @old_value = 'book_id: ' + CAST(book_id AS VARCHAR) + ', ' +
                            'book_name: ' + book_name + ', ' +
                            'author: ' + author + ', ' +
                            'publication: ' + CAST(publication AS VARCHAR) + ', ' +
                            'purchase_date: ' + CAST(purchase_date AS VARCHAR) + ', ' +
                            'price: ' + CAST(price AS VARCHAR) + ', ' +
                            'available: ' + CAST(available AS VARCHAR)
        FROM deleted;
    END

    IF @action_type IN ('INSERT', 'UPDATE')
    BEGIN
        SELECT @row_id = book_id FROM inserted;
    END
    ELSE IF @action_type = 'DELETE'
    BEGIN
        SELECT @row_id = book_id FROM deleted;
    END

    INSERT INTO log (action_type, table_name, row_id, staff_id, old_value, new_value, action_timestamp)
    VALUES (@action_type, 'book', @row_id, @staff_id, @old_value, @new_value, GETDATE());
END;
GO
ALTER TABLE [dbo].[book] ENABLE TRIGGER [trigger_LogBookChanges]
GO
/****** Object:  Trigger [dbo].[trigger_LogIssueBookChanges]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- trigger for issue book table log
CREATE TRIGGER [dbo].[trigger_LogIssueBookChanges]
ON [dbo].[issued_books]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    DECLARE @action_type VARCHAR(50);
    DECLARE @staff_id INT = (select top 1 staff_id from login_table where currently_login = 1)
    DECLARE @row_id int;

    IF EXISTS (SELECT * FROM inserted)
    BEGIN
        IF EXISTS (SELECT * FROM deleted)
            SET @action_type = 'UPDATE';  
        ELSE
            SET @action_type = 'INSERT';  
    END
    ELSE
    BEGIN
        SET @action_type = 'DELETE';      
    END

    IF @action_type IN ('INSERT', 'UPDATE')
    BEGIN
        SELECT @row_id = id FROM inserted;
    END
    ELSE IF @action_type = 'DELETE'
    BEGIN
        SELECT @row_id = id FROM deleted;
    END

    INSERT INTO log (action_type, table_name, row_id, staff_id, action_timestamp)
    VALUES (@action_type, 'issued_books', @row_id, @staff_id, GETDATE());
END
GO
ALTER TABLE [dbo].[issued_books] ENABLE TRIGGER [trigger_LogIssueBookChanges]
GO
/****** Object:  Trigger [dbo].[trigger_LogLoginTableChanges]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- trigger for login table log
CREATE TRIGGER [dbo].[trigger_LogLoginTableChanges]
ON [dbo].[login_table]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    DECLARE @action_type VARCHAR(50);
    DECLARE @staff_id INT = (SELECT TOP 1 staff_id FROM login_table WHERE currently_login = 1);
	DECLARE @lowest_row INT = (SELECT max(log_id) from log)
	DECLARE @previous_id int = (select staff_id from log where log_id = @lowest_row)
	if @staff_id IS NULL set @staff_id = @previous_id
    DECLARE @row_id INT;
    DECLARE @old_value VARCHAR(MAX) = '';
    DECLARE @new_value VARCHAR(MAX) = '';

    IF EXISTS (SELECT * FROM inserted)
    BEGIN
        IF EXISTS (SELECT * FROM deleted)
        BEGIN
			SET @action_type = 'UPDATE'
			SELECT 
				@old_value = 
					CASE WHEN d.user_id <> i.user_id THEN 'user_id: ' + CAST(d.user_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.staff_id <> i.staff_id THEN 'staff_id: ' + CAST(d.staff_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.username <> i.username THEN 'username: ' + d.username + ', ' ELSE '' END +
					CASE WHEN d.password <> i.password THEN 'password: ' + d.password + ', ' ELSE '' END +
					CASE WHEN d.currently_login <> i.currently_login THEN 'currently_login: ' + CAST(d.currently_login AS VARCHAR) + ', ' ELSE '' END,
    
				@new_value = 
					CASE WHEN d.user_id <> i.user_id THEN 'user_id: ' + CAST(i.user_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.staff_id <> i.staff_id THEN 'staff_id: ' + CAST(i.staff_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.username <> i.username THEN 'username: ' + i.username + ', ' ELSE '' END +
					CASE WHEN d.password <> i.password THEN 'password: ' + i.password + ', ' ELSE '' END +
					CASE WHEN d.currently_login <> i.currently_login THEN 'currently_login: ' + CAST(i.currently_login AS VARCHAR) + ', ' ELSE '' END
			FROM deleted d
			JOIN inserted i ON d.user_id = i.user_id;
        END
        ELSE
        BEGIN
            SET @action_type = 'INSERT';
            SELECT @new_value = 'user_id: ' + CAST(user_id AS VARCHAR) + ', ' +
                                'staff_id: ' + CAST(staff_id AS VARCHAR) + ', ' +
                                'username: ' + username + ', ' +
                                'password: ' + password + ', ' +
                                'currently_login: ' + CAST(currently_login AS VARCHAR)
            FROM inserted;
        END
    END
    ELSE
    BEGIN
        SET @action_type = 'DELETE';
        SELECT @old_value = 'user_id: ' + CAST(user_id AS VARCHAR) + ', ' +
                            'staff_id: ' + CAST(staff_id AS VARCHAR) + ', ' +
                            'username: ' + username + ', ' +
                            'password: ' + password + ', ' +
                            'currently_login: ' + CAST(currently_login AS VARCHAR)
        FROM deleted;
    END

    IF @action_type IN ('INSERT', 'UPDATE')
    BEGIN
        SELECT @row_id = user_id FROM inserted;
    END
    ELSE IF @action_type = 'DELETE'
    BEGIN
        SELECT @row_id = user_id FROM deleted;
    END

    INSERT INTO log (action_type, table_name, row_id, staff_id, old_value, new_value, action_timestamp)
    VALUES (@action_type, 'login_table', @row_id, @staff_id, @old_value, @new_value, GETDATE());
END;
GO
ALTER TABLE [dbo].[login_table] ENABLE TRIGGER [trigger_LogLoginTableChanges]
GO
/****** Object:  Trigger [dbo].[trigger_LogReturnedBookChanges]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- trigger for returned book table log
CREATE TRIGGER [dbo].[trigger_LogReturnedBookChanges]
ON [dbo].[returned_books]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    DECLARE @action_type VARCHAR(50);
    DECLARE @staff_id INT = (SELECT TOP 1 staff_id FROM login_table WHERE currently_login = 1);
    DECLARE @row_id INT;
    DECLARE @old_value VARCHAR(MAX) = '';
    DECLARE @new_value VARCHAR(MAX) = '';

    IF EXISTS (SELECT * FROM inserted)
    BEGIN
        IF EXISTS (SELECT * FROM deleted)
        BEGIN
            SET @action_type = 'UPDATE';
			SELECT 
				@old_value = 
					CASE WHEN d.id <> i.id THEN 'id: ' + CAST(d.id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.book_id <> i.book_id THEN 'book_id: ' + CAST(d.book_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.student_id <> i.student_id THEN 'student_id: ' + CAST(d.student_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.returned_date <> i.returned_date THEN 'returned_date: ' + CAST(d.returned_date AS VARCHAR) + ', ' ELSE '' END,
    
				@new_value = 
					CASE WHEN d.id <> i.id THEN 'id: ' + CAST(i.id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.book_id <> i.book_id THEN 'book_id: ' + CAST(i.book_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.student_id <> i.student_id THEN 'student_id: ' + CAST(i.student_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.returned_date <> i.returned_date THEN 'returned_date: ' + CAST(i.returned_date AS VARCHAR) + ', ' ELSE '' END
			FROM inserted i
			INNER JOIN deleted d ON d.id = i.id;
        END
        ELSE
        BEGIN
            SET @action_type = 'INSERT';
            SELECT @new_value = 'id: ' + CAST(id AS VARCHAR) + ', ' +
                                'book_id: ' + CAST(book_id AS VARCHAR) + ', ' +
                                'student_id: ' + CAST(student_id AS VARCHAR) + ', ' +
                                'returned_date: ' + CAST(returned_date AS VARCHAR)
            FROM inserted;
        END
    END
    ELSE
    BEGIN
        SET @action_type = 'DELETE';
        SELECT @old_value = 'id: ' + CAST(id AS VARCHAR) + ', ' +
                            'book_id: ' + CAST(book_id AS VARCHAR) + ', ' +
                            'student_id: ' + CAST(student_id AS VARCHAR) + ', ' +
                            'returned_date: ' + CAST(returned_date AS VARCHAR)
        FROM deleted;
    END

    IF @action_type IN ('INSERT', 'UPDATE')
    BEGIN
        SELECT @row_id = id FROM inserted;
    END
    ELSE IF @action_type = 'DELETE'
    BEGIN
        SELECT @row_id = id FROM deleted;
    END

    INSERT INTO log (action_type, table_name, row_id, staff_id, old_value, new_value, action_timestamp)
    VALUES (@action_type, 'returned_books', @row_id, @staff_id, @old_value, @new_value, GETDATE());
END;
GO
ALTER TABLE [dbo].[returned_books] ENABLE TRIGGER [trigger_LogReturnedBookChanges]
GO
/****** Object:  Trigger [dbo].[update_availability]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger to update the availibality of the book after being returned
CREATE TRIGGER [dbo].[update_availability]
ON [dbo].[returned_books]
AFTER INSERT
AS
BEGIN
    DECLARE @book_id INT = (SELECT TOP 1 book_id FROM inserted);
    
    UPDATE issued_books
    SET returned = 1
    WHERE book_id = @book_id;

    UPDATE book 
    SET available = 1
    WHERE book_id = @book_id;
END
GO
ALTER TABLE [dbo].[returned_books] ENABLE TRIGGER [update_availability]
GO
/****** Object:  Trigger [dbo].[store_password_username]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[store_password_username]
ON [dbo].[staff]
AFTER INSERT 
AS 
BEGIN
    INSERT INTO login_table (staff_id,username, password)
    SELECT staff_id, dbo.username_create(staff_id), dbo.password_create(staff_id)
    FROM inserted;
END; 
GO
ALTER TABLE [dbo].[staff] ENABLE TRIGGER [store_password_username]
GO
/****** Object:  Trigger [dbo].[trg_EnsureDefaultStaff]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_EnsureDefaultStaff]
ON [dbo].[staff]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;
    -- Check if there are no staff
    IF NOT EXISTS (SELECT 1 FROM Staff)
    BEGIN
        -- Insert default staff
        INSERT INTO staff (staff_fname,staff_lname,staff_email,salary,date_of_birth,admin)
        VALUES ('Alex','Hunter','alexhunter@gmail.com',90000,'02/21/2000',1);

        -- Get the new staff_id
        DECLARE @staff_id INT = SCOPE_IDENTITY();
    END
END;
GO
ALTER TABLE [dbo].[staff] ENABLE TRIGGER [trg_EnsureDefaultStaff]
GO
/****** Object:  Trigger [dbo].[trg_LogStaffChanges]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_LogStaffChanges]
ON [dbo].[staff]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    DECLARE @action_type VARCHAR(50);
    DECLARE @staff_id INT = (SELECT TOP 1 staff_id FROM login_table WHERE currently_login = 1);
    DECLARE @row_id INT;
    DECLARE @old_value VARCHAR(MAX) = '';
    DECLARE @new_value VARCHAR(MAX) = '';

    IF EXISTS (SELECT * FROM inserted)
    BEGIN
        IF EXISTS (SELECT * FROM deleted)
        BEGIN
            SET @action_type = 'UPDATE';
			SELECT 
				@old_value = 
					CASE WHEN d.staff_id <> i.staff_id THEN 'staff_id: ' + CAST(d.staff_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.staff_fname <> i.staff_fname THEN 'staff_fname: ' + d.staff_fname + ', ' ELSE '' END +
					CASE WHEN d.staff_lname <> i.staff_lname THEN 'staff_lname: ' + d.staff_lname + ', ' ELSE '' END +
					CASE WHEN d.staff_email <> i.staff_email THEN 'staff_email: ' + d.staff_email + ', ' ELSE '' END +
					CASE WHEN d.salary <> i.salary THEN 'salary: ' + CAST(d.salary AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.date_of_birth <> i.date_of_birth THEN 'date_of_birth: ' + CAST(d.date_of_birth AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.admin <> i.admin THEN 'admin: ' + CAST(d.admin AS VARCHAR) + ', ' ELSE '' END,
    
				@new_value = 
					CASE WHEN d.staff_id <> i.staff_id THEN 'staff_id: ' + CAST(i.staff_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.staff_fname <> i.staff_fname THEN 'staff_fname: ' + i.staff_fname + ', ' ELSE '' END +
					CASE WHEN d.staff_lname <> i.staff_lname THEN 'staff_lname: ' + i.staff_lname + ', ' ELSE '' END +
					CASE WHEN d.staff_email <> i.staff_email THEN 'staff_email: ' + i.staff_email + ', ' ELSE '' END +
					CASE WHEN d.salary <> i.salary THEN 'salary: ' + CAST(i.salary AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.date_of_birth <> i.date_of_birth THEN 'date_of_birth: ' + CAST(i.date_of_birth AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.admin <> i.admin THEN 'admin: ' + CAST(i.admin AS VARCHAR) + ', ' ELSE '' END
			FROM deleted d
			INNER JOIN inserted i ON d.staff_id = i.staff_id;
        END
        ELSE
        BEGIN
            SET @action_type = 'INSERT';
            SELECT @new_value = 'staff_id: ' + CAST(staff_id AS VARCHAR) + ', ' +
                                'staff_fname: ' + staff_fname + ', ' +
                                'staff_lname: ' + staff_lname + ', ' +
                                'staff_email: ' + staff_email + ', ' +
                                'salary: ' + CAST(salary AS VARCHAR) + ', ' +
                                'date_of_birth: ' + CAST(date_of_birth AS VARCHAR) + ', ' +
                                'admin: ' + CAST(admin AS VARCHAR)
            FROM inserted;
        END
    END
    ELSE
    BEGIN
        SET @action_type = 'DELETE';
        SELECT @old_value = 'staff_id: ' + CAST(staff_id AS VARCHAR) + ', ' +
                            'staff_fname: ' + staff_fname + ', ' +
                            'staff_lname: ' + staff_lname + ', ' +
                            'staff_email: ' + staff_email + ', ' +
                            'salary: ' + CAST(salary AS VARCHAR) + ', ' +
                            'date_of_birth: ' + CAST(date_of_birth AS VARCHAR) + ', ' +
                            'admin: ' + CAST(admin AS VARCHAR)
        FROM deleted;
    END

    IF @action_type IN ('INSERT', 'UPDATE')
    BEGIN
        SELECT @row_id = staff_id FROM inserted;
    END
    ELSE IF @action_type = 'DELETE'
    BEGIN
        SELECT @row_id = staff_id FROM deleted;
    END

    INSERT INTO log (action_type, table_name, row_id, staff_id, old_value, new_value, action_timestamp)
    VALUES (@action_type, 'staff', @row_id, @staff_id, @old_value, @new_value, GETDATE());
END;
GO
ALTER TABLE [dbo].[staff] ENABLE TRIGGER [trg_LogStaffChanges]
GO
/****** Object:  Trigger [dbo].[trigger_LogStudentChanges]    Script Date: 2/21/2026 1:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- trigger for student table log
CREATE TRIGGER [dbo].[trigger_LogStudentChanges]
ON [dbo].[student]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    DECLARE @action_type VARCHAR(50);
    DECLARE @staff_id INT = (SELECT TOP 1 staff_id FROM login_table WHERE currently_login = 1);
    DECLARE @row_id INT;
    DECLARE @old_value VARCHAR(MAX) = '';
    DECLARE @new_value VARCHAR(MAX) = '';

    IF EXISTS (SELECT * FROM inserted)
    BEGIN
        IF EXISTS (SELECT * FROM deleted)
        BEGIN
            SET @action_type = 'UPDATE';
			SELECT 
				@old_value = 
					CASE WHEN d.student_id <> i.student_id THEN 'student_id: ' + CAST(d.student_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.name <> i.name THEN 'name: ' + d.name + ', ' ELSE '' END +
					CASE WHEN d.department <> i.department THEN 'department: ' + d.department + ', ' ELSE '' END +
					CASE WHEN d.phone_number <> i.phone_number THEN 'phone_number: ' + d.phone_number + ', ' ELSE '' END +
					CASE WHEN d.email <> i.email THEN 'email: ' + d.email + ', ' ELSE '' END,
    
				@new_value = 
					CASE WHEN d.student_id <> i.student_id THEN 'student_id: ' + CAST(i.student_id AS VARCHAR) + ', ' ELSE '' END +
					CASE WHEN d.name <> i.name THEN 'name: ' + i.name + ', ' ELSE '' END +
					CASE WHEN d.department <> i.department THEN 'department: ' + i.department + ', ' ELSE '' END +
					CASE WHEN d.phone_number <> i.phone_number THEN 'phone_number: ' + i.phone_number + ', ' ELSE '' END +
					CASE WHEN d.email <> i.email THEN 'email: ' + i.email + ', ' ELSE '' END
			FROM deleted d
			INNER JOIN inserted i ON d.student_id = i.student_id;
        END
        ELSE
        BEGIN
            SET @action_type = 'INSERT';
            SELECT @new_value = 'student_id: ' + CAST(student_id AS VARCHAR) + ', ' +
                                'name: ' + name + ', ' +
                                'department: ' + department + ', ' +
                                'phone_number: ' + phone_number + ', ' +
                                'email: ' + email
            FROM inserted;
        END
    END
    ELSE
    BEGIN
        SET @action_type = 'DELETE';
        SELECT @old_value = 'student_id: ' + CAST(student_id AS VARCHAR) + ', ' +
                            'name: ' + name + ', ' +
                            'department: ' + department + ', ' +
                            'phone_number: ' + phone_number + ', ' +
                            'email: ' + email
        FROM deleted;
    END

    IF @action_type IN ('INSERT', 'UPDATE')
    BEGIN
        SELECT @row_id = student_id FROM inserted;
    END
    ELSE IF @action_type = 'DELETE'
    BEGIN
        SELECT @row_id = student_id FROM deleted;
    END

    INSERT INTO log (action_type, table_name, row_id, staff_id, old_value, new_value, action_timestamp)
    VALUES (@action_type, 'student', @row_id, @staff_id, @old_value, @new_value, GETDATE());
END;
GO
ALTER TABLE [dbo].[student] ENABLE TRIGGER [trigger_LogStudentChanges]
GO
USE [master]
GO
